@import '../../../assets/css/commonstyles.css';
.password-toggle {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}

.password-indicator {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  font-size: 1rem;
}

