
.pagination .page-item:not(.active):not(.disabled) .page-link:hover {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border-color: var(--primary-color) !important;
      z-index: 1;
  /* Match active style */
  }